VITE_FIREBASE_API_KEY=<your env value here>
VITE_FIREBASE_AUTH_DOMAIN=<your env value here>
VITE_FIREBASE_PROJECT_ID=<your env value here>
VITE_FIREBASE_STORAGE_BUCKET=<your env value here>
VITE_FIREBASE_MESSAGE_SENDER_ID=<your env value here>
VITE_FIREBASE_APP_ID=<your env value here>